

<div class="content" role="main">
  <!-- Highlight cardt -->
  <mat-card class="example-card p-2 text-center">
    <mat-card-title>Examen en linea</mat-card-title>
    <h2>Universidad de sonsonate</h2>
    <p>Examen del manual de electricistas de tercera y cuarta categoria</p>
</mat-card>
  <!-- Resources -->

  <div class="cardt-container">
    <a class="cardt" routerLink="test4">
      <mat-icon class="m-1">edit_note</mat-icon>
      <span>Realizar Examen</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </svg>
    </a>

    <a class="cardt" routerLink="descargas">
      <mat-icon class="m-1">picture_as_pdf</mat-icon>
      <span>Descargar Manual</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </svg>
    </a>

    <a class="cardt" routerLink="indicaciones">
      <mat-icon class="m-1">help</mat-icon>
      <span>Indicaciones</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </svg>
    </a>

    <a class="cardt" routerLink="acercade">
      <mat-icon class="m-1">info</mat-icon>
      <span>Acerca de</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </svg>
    </a>
  </div>
</div>