<div class="content" role="main">

    <div class="container col-12 bg-light py-5 rounded-3">
        <h1 class="display-5 fw-bold">Descargar Manual de electricistas de la Universidada de Sonsonate</h1>

        <div class="cardt-container m-0">
            <a class="cardt rounded-4" style="background-color: #002333; color: whitesmoke;" target="_blank" rel="noopener" href="{{urlM4C}}">
                <mat-icon class="m-1">picture_as_pdf</mat-icon>
                <h4 class="p-2 m-0">Manual de electricistas de Cuarta Categoria</h4>
                <svg class="icon icon-file-download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: whitesmoke;">
                  <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/>
                </svg>
              </a>
        
            <a class="cardt rounded-4" style="background-color: #002333; color: whitesmoke;" >
              <mat-icon class="m-1">picture_as_pdf</mat-icon>
              <h4 class="p-2 m-0">Manual de electricistas de Tercera Categoria</h4>
              <svg class="icon icon-file-download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: whitesmoke;">
                <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/>
              </svg>
            </a>

          </div>


    
    </div>

</div>